{% load static %}

<header>
  <div class="home">
    <div class="header-brand">
      <img src="{% static 'images/charlitos-avatar-web.jpg' %}" alt="Carlos Vallejo" class="header-avatar">
      <a href="{% url 'index' %}">
        <h1>Carlos Vallejo</h1>
      </a>
    </div>
    {% include "includes/menu.html" %}
    <div class="header-social">
      {% for social in social_media %}
        <a href="{{ social.url }}" target="_blank" title="{{ social.name }}">
          <img src="{% static social.icon %}" alt="{{ social.name }}" />
        </a>
      {% endfor %}
    </div>
  </div>
</header>
