{% load static %}

<header>
  <div class="home">
    <div class="header-brand">
      <img src="{% static 'images/charlitos-avatar-web.jpg' %}" alt="Carlos Vallejo" class="header-avatar">
      <a href="{% url 'index' %}">
        <h1>Carlos Vallejo</h1>
      </a>
    </div>
    {% include "includes/menu.html" %}
    <div class="header-social">
      <a href="https://www.youtube.com/@carlosvallejomusic" target="_blank" title="YouTube">
        <img src="{% static 'images/youtube.png' %}" alt="YouTube" />
      </a>
      <a href="https://www.instagram.com/carlosd.vallejo/" target="_blank" title="Instagram">
        <img src="{% static 'images/instagram.png' %}" alt="Instagram" />
      </a>
      <a href="https://carlosvallejo.bandcamp.com/" target="_blank" title="Bandcamp">
        <img src="{% static 'images/bandcamp.png' %}" alt="Bandcamp" />
      </a>
      <a href="https://www.linkedin.com/in/carlos-d-vallejo-aranda-569685a5/" target="_blank" title="LinkedIn">
        <img src="{% static 'images/linkedn.png' %}" alt="LinkedIn" />
      </a>
      <a href="https://github.com/cdvallejo" target="_blank" title="GitHub">
        <img src="{% static 'images/github.png' %}" alt="GitHub" />
      </a>
      <a href="https://twitter.com/carlvallejo" target="_blank" title="Twitter/X">
        <img src="{% static 'images/x-twitter.jpg' %}" alt="Twitter/X" />
      </a>
    </div>
  </div>
</header>
