{% load static %}

<footer>
  <div class="footer-content">
    <div class="copyright">
      <p>Copyright © 2024 Carlos Vallejo | Todos los derechos reservados</p>
      <p>
        Face logo design:
        <a href="https://www.instagram.com/mugi_chab/" alt="Instagram de mugi_chab" target="_blank">mugi_chab</a>
      </p>
    </div>
    <div class="footer-social">
      {% for social in social_media %}
        <a href="{{ social.url }}" target="_blank" title="{{ social.name }}">
          <img src="{% static social.icon %}" alt="{{ social.name }}" />
        </a>
      {% endfor %}
    </div>
  </div>
</footer>
