{% extends "base.html" %} 

{% load static %} 

{% block content %}

<div class="contenedor-musica">
  <section class="texto-cabecera">
    <h1>Fotografía</h1>
    <p>Aunque no me dedico profesionalmente a la fotografía, tengo una gran pasión por capturar momentos. Tanto con fotografía digital como analógica.</p>
  </section>
  <section class="galeria-fotos">
    {% for foto in fotos %}
    <a data-flickr-embed="true" data-context="true" href="{{ foto.page_url }}" title="{{ foto.title }}" target="_blank">
      <img src="{{ foto.img_url }}" alt="{{ foto.title }}"/>
    </a>
    {% endfor %}
  </section>
  <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</div>

{% endblock %}
